body{
    margin:0;
    padding:40px;
    background:#0b0b0b;
    color:#d6b98a;
    font-family:Arial;
}
body{
    margin:0;
    padding:40px;

    background-image:url("../../webimages/stc-luna-objednavkaBG.jpg");
    background-size:cover;
    background-position:center;
    background-attachment:fixed;

    color:#d6b98a;
    font-family:Arial;
}

.container{
    max-width:700px;
    margin:auto;

    background:rgba(10,10,10,0.15);

    border:1px solid rgba(212,155,60,0.25);

    border-radius:16px;

    padding:30px;
}

h1{
    text-align:center;
    color:#d89b3c;
}
h1{
    margin:0;
}

.subtitle{
    text-align:center;
    margin-bottom:30px;
    margin:2px 0;

    text-align:center;

    color:#d6b98a;

    opacity:0.9;
}

form{
    display:flex;
    flex-direction:column;
    gap:15px;
}

input,
select,
textarea{
    padding:12px;

    background:rgba(15,15,15,0.15);

    border:1px solid rgba(212,155,60,0.22);

    color:#f1d7a3;

    border-radius:8px;

}
input:focus,
select:focus,
textarea:focus{

    outline:none;

    border:1px solid rgba(255,190,80,0.55);

    box-shadow:0 0 10px rgba(255,190,80,0.15);
}

button{
    padding:14px;
    background:rgba(122,75,23,0.45);
    border:1px solid rgba(212,155,60,0.35);
    color:#f1d7a3;
    font-size:16px;
    border-radius:8px;
    cursor:pointer;
}

button:hover{
    background:#a8651f;
}
.return-button{

    display:inline-block;

    margin-bottom:25px;

    padding:12px 24px;

    color:#d89b3c;

    text-decoration:none;

    font-size:28px;

    background:rgba(10,10,10,0.18);

    border:1px solid rgba(212,155,60,0.18);

    border-radius:14px;

    transition:0.3s;
}
.return-button{

    position:absolute;

    left:0;
}
.return-button:hover{

    background:rgba(122,75,23,0.35);

    border-color:rgba(255,190,80,0.5);

    box-shadow:0 0 12px rgba(255,190,80,0.15);
}
.top-bar{

    position:relative;

    display:flex;

    align-items:center;

    justify-content:center;

    margin-bottom:30px;
}